<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Explorers</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>

  <body>
    <div class="container">

      <div class="header clearfix">

        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="https://www.theexplorers.com/">About</a></li>
          </ul>
        </nav>

        <h3 class="text-muted">The Explorers</h3>
      </div>

      <div class="jumbotron">
        <h3 class="jumbotronHeading">Image à prédire</h3>



          <form action="/upload-image" method="POST" enctype="multipart/form-data">

            <div class="form-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image" onchange="loadFile(event)">
                <label class="custom-file-label" for="image">Select image...</label>

                <p><img id="output" width="500"></p>

              </div>
            </div>

            <button type="submit" class="btn btn-primary">Predict</button>

          </form>


        <script>
        var loadFile = function(event) {
          var image = document.getElementById('output');
          image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>

      </div>

      {% if label %}
        <div class="jumbotron">
          <p id="result"><span class="mylabel">{{ label }}</span></p>
        </div>
        <div class="jumbotron">
        {% for tag in tags %}
          <p id="result"><span class="tag">{{ tag[0] }}</span> ({{ tag[1] }})</p>
        {% endfor %}
        </div>
      {% else %}
      <div class="jumbotron">
        <p id="result">Get your prediction here!!!</p>
      </div>
      {% endif %}


        <footer class="footer">
          <p>&copy; 2019, Ecole IA Microsoft</p>
      </footer>
    </div>
  </body>
</html>